//Colors
$white: #fff;
$black: #1e1e2d;
$blackDark: #1a1a27;
$grey: #74788d;
$light: #F7F8F8;
$primary: #179AFF;
$secondary: #974619;

$blue: #3043FF;
$green: #46b450;
$red: #d55252;

 //
$border-radius: 0;

//Gradient
$footerGradient: linear-gradient(to right, #298BEC , #7B68EE, #503BD1);