@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin mobile-land {
    @media only screen and (min-device-width: 320px) and (max-device-width: 920px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        @content;
    }
}

@mixin mobile-tabet {
    @media (max-width: 997px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}

@mixin tablet-land {
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        @content;
    }
}

@mixin laptop-1280 {
    @media (min-width: 1024px) and (max-width: 1280px) {
        @content;
    }
}

@mixin laptop-1440 {
    @media (min-width: 1281px) and (max-width: 1600px) {
        @content;
    }
}
