:root {
    --primary-color: #179AFF;
    --black-color: #1e1e2d;
    --dark-black-color: #1a1a27;
    --font-color: #1a1a27;
    --bg-color: #fff;
    --heading-color: #292922;
    --bg-body: rgb(248, 248, 251);
    --bg-border: #f0f0f0;
    --bg-badge: #eaedf2;
}

body.dark {
    --primary-color: #179AFF;
    --black-color: #1e1e2d;
    --dark-black-color: #1a1a27;
    --font-color: #fff;
    --bg-color: #2a3042;
    --heading-color: #818cab;
    --bg-body: #222736;
    --bg-border: #32394e;
    --bg-badge: #222736;
}

.fc-grey {
    color: $grey;
}


#root {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;

    .ant-layout {
        min-height: 100vh;
        background-color: var(--bg-body);
    }


}

.ant-empty-description {
    color: var(--font-color);
}

.ant-page-header {
    background-color: transparent !important;
    color: var(--font-color) !important;

    .ant-page-header-back span,
    .ant-page-header-heading-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px !important;
        color: var(--font-color);
        margin: 0 !important;
        transition: all .3s ease-in-out;
    }

    .ant-page-header-back {
        height: 38px;
        width: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-body) !important;
        color: var(--font-color) !important;
        border-color: var(--bg-border) !important;
        transition: all .3s ease-in-out;

        // &:hover {
        //     background-color: var(--primary-color) !important;
        //     border-color: var(--primary-color) !important;

        //     svg {
        //         color: $white !important;
        //     }
        // }

        .ant-page-header-back-button {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;



            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }
    }
}


.switch-components {
    margin-top: 16px;
    display: flex;
    align-items: center;
    font-size: 15px;

    button {
        margin-right: 8px;
    }

    span {
        line-height: 1;
    }
}


.error-text {
    color: $red;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.ant-result {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color);

    .ant-result-title {
        color: var(--font-color) !important;
        font-weight: 700;
        font-size: 32px;
    }

    .ant-result-subtitle {
        color: var(--font-color) !important;
    }

    .ant-result-icon {
        margin: 0;
    }
}