/*
*   Typography
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-color) !important;
}
 
.card-title {
    font-size: 15px;
    margin: 0 0 7px 0;
    font-weight: 600;
    color: var(--font-color);
}
 
.page-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px !important;
    color: var(--font-color);
    margin: 0 !important;
}