.ant-collapse {
    background-color: var(--bg-body) !important; 
    border-color: var(--bg-border) !important;
    .ant-collapse-item {
        margin-bottom: 8px;
        border-color: var(--bg-border) !important;
        

        .ant-collapse-header {
            color: var(--font-color) !important;
        }

        .ant-collapse-content {
            background-color: var(--bg-body) !important; 
            color: var(--font-color) !important;
            border-color: var(--bg-border) !important;
        }
    }
}