.badge {
    background-color: var(--bg-badge);
    margin: 2px 8px;
    padding: 6px;
    display: flex;
    align-items: center;
    line-height: 100%;

    svg {
        margin-right: 4px;
    }

    &:last-child {
        margin-right: 0;
    }
}