.ant-space-item, 
.ant-col {
    .ant-btn.ant-btn-primary {
        // font-size: 16px !important;
        display: flex;
        align-items: center;
        color: $white !important;
        background-color: var(--primary-color) !important;

        svg {
            margin-left: 16px;
        }

        span {
            line-height: 100%;
        }
    }
}

.ant-btn-primary {
    background-color: var(--primary-color) !important;
}

.ant-btn-default {
    background-color: transparent !important;
    color: var(--font-color) !important;
}