.ant-card {
    background-color: var(--bg-body) !important;
    border-color: var(--bg-body) !important;


    .ant-card-cover {
        img {
            object-fit: cover;
        }
    }

    .ant-card-meta-detail>* {
        color: var(--font-color) !important;
    }

    .ant-card-actions {
        background-color: var(--bg-body) !important;
        border-color: var(--bg-body) !important;

        svg {
            color: var(--font-color) !important;
        }
    }
}

.card-custom {
    background-color: var(--bg-color) !important;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%) !important;
    margin-bottom: 8px;
    border: 0 solid var(--bg-color) !important;
    border-radius: 4px !important;
    color: var(--font-color) !important;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ant-card-meta-title {
        font-weight: 700;
    }

    .ant-card-actions {
        background-color: var(--bg-color) !important;
        border: 0 solid var(--bg-color) !important;
    }
}