#darkMode {
    background-color: $black !important;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;

    svg {
        width: 20px;
        height: 20px;
        color: $white;
    }
}