.dropzone-wrapper {
    padding: 32px;
    border: 1px solid #eeeeee;
    margin-bottom: 32px;
    background-color: $white;

    .dropzone {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        border-width: 2px;
        border-radius: 2px;
        border-color: #eeeeee;
        border-style: dashed;
        color: #bdbdbd;
        outline: none;
        transition: border .24s ease-in-out;
        cursor: pointer;

        &:hover {
            border-color: $blue;
        }



        p {
            font-size: 20px;
            display: flex;
            align-items: center;

            svg {
                font-size: 32px;
                margin-right: 12px;
            }
        }
    }

    .thumbs-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 16px;

        .thumb {
            display: inline-flex;
            border-radius: 2px;
            border: 1px solid #eaeaea;
            margin-bottom: 8px;
            margin-right: 8px;
            width: 100px;
            height: 100px;
            padding: 4px;
            box-sizing: border-box;

            .thumb-inner {
                display: flex;
                min-width: 0;
                position: relative;

                button {
                    background: $white;
                    box-shadow: none;
                    border: 0;
                    position: absolute;
                    right: -10px;
                    top: -10px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    &:hover {
                        background-color: $primary;
                        color: $white;
                    }
                }

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}