.ant-btn,
.ant-input {
    height: 38px !important;

}

.ant-input {
    background-color: var(--bg-body) !important;
    border-color: var(--bg-border) !important;
    color: var(--font-color) !important;
    // margin-top: 8px !important;

    &::placeholder {
        color: var(--font-color) !important;
    }

    &:focus {
        box-shadow: none !important;
        border-color: var(--bg-border) !important;
    }
}

.ant-btn-icon-only {
    width: 38px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-body) !important;
    color: var(--font-color) !important;
    border-color: var(--bg-border) !important;
}

.ant-picker {
    height: 38px;
    background-color: var(--bg-body) !important;
    border-color: var(--bg-border) !important;
    color: var(--font-color) !important;

    .ant-picker-input {
        height: 100% !important;

       input {
        color: var(--font-color) !important;
        &::placeholder {
            opacity: 1;
            color: var(--font-color) !important;
        }
       }
    }

    .ant-picker-suffix,
    .ant-picker-separator {
        color: var(--font-color) !important;
    }
}

.ant-select {
    height: 38px;


    .ant-select-selector {
        height: 100% !important;
        background-color: var(--bg-body) !important;
        border-color: var(--bg-border) !important;
        color: var(--font-color) !important;

        input {
            height: 100% !important;
            color: var(--font-color) !important;
        }

        .ant-select-selection-item,
        .ant-select-selection-placeholder {
            line-height: 34px !important;
            opacity: 1;
            color: var(--font-color) !important;
        }
    }

    .ant-select-arrow {
        color: var(--font-color);
    }
}

.ql-container,
textarea.ant-input {
    height: 150px !important;
}

.quill {
    background-color: var(--bg-body);
}

.ql-snow .ql-stroke {
    stroke: var(--font-color) !important;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
    border-color: var(--bg-border) !important;


    span {
        color: var(--font-color) !important;
    }
}

.ant-upload.ant-upload-drag {
    background-color: var(--bg-body) !important;
    border-color: var(--bg-border) !important;

    .ant-upload-drag-container p {
        color: var(--font-color) !important;
    }
}