.ant-layout-header {
    background-color: var(--bg-color) !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px !important;
    padding-right: 40px !important;
    position: fixed;
    width: calc(100% - 250px);
    z-index: 3;
    color: var(--font-color) !important;
}

.avatar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 16px;
}


.ant-breadcrumb {
    text-transform: capitalize;
    span,
    a {
        color: var(--font-color) !important;
    }
}

.ant-space-item {
    display: flex;
}

.ant-dropdown-menu {
    width: 270px; 
    background-color: var(--bg-color) !important;

    .avatar-image {
        margin-left: 0;
    }

    .ant-dropdown-menu-item:first-child {
        .ant-dropdown-menu-title-content {
            display: flex;
            align-items: center;
        }
    }

    .ant-divider-horizontal {
        margin: 12px 0;
        // border-color: var(--border-color) !important;
    }

    .ant-dropdown-menu-item {
        padding: 8px 12px;
        font-size: 16px;

        &:hover {
            background-color: var(--bg-border);
        }

        .ant-dropdown-menu-title-content {
            color: var(--font-color);

            a, .logout {
                display: flex;
                align-items: center;

                svg {
                    margin-right: 8px;
                }
            }

            .info {
                margin-left: 12px;

                h3 {
                    margin: 0;
                    margin-bottom: 2px;
                }

                p {
                    margin: 0;
                    color: #8898aa !important;
                }
            }
        }
    }

    .ant-avatar {
        background-color: $black !important;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.ant-space {

    .ant-dropdown-link {
        color: $black;
        display: flex;
        align-items: center;
        color: var(--font-color);
    }

    .ant-avatar {
        background-color: $black !important;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
    }
}

.app-settings {
    display: flex;
    align-items: center;
    svg {
        width: 20px;
        height: 20px;
    }
}

.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;

    svg {
        color: var(--font-color);
    }
}