//Popover
.ant-popover {
    .ant-popover-arrow-content {
        background-color: var(--bg-color) !important;

        &::before {
            background: linear-gradient(to left, var(--bg-body) 50%, var(--bg-body) 50%) no-repeat -10px -10px;
        }
    }

    .ant-popover-inner {
        background-color: var(--bg-color) !important;

        .ant-popover-message {
            color: var(--font-color) !important;
        }
    }
}

//Modals
.ant-modal {
    ul {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;

        li {
            margin: 4px 0;
        }
    }
}

.ant-modal-content {
    background-color: var(--bg-color) !important;
    border-color: var(--bg-color) !important;

    .ant-modal-footer,
    .ant-modal-header {
        background-color: var(--bg-color) !important;
        border-color: var(--bg-color) !important;

        .ant-modal-title {
            color: var(--font-color) !important;
        }
    }

    .ant-modal-body {
        color: var(--font-color) !important;
    }

    label,
    .ant-modal-close {
        color: var(--font-color) !important;
    }

    input {
        background-color: var(--bg-body) !important;
        border-color: var(--bg-border) !important;
    }
}

.chyrons-modal {
    .ant-modal-body {
        background-image: url('../../images/tv.png');
        background-repeat: no-repeat;
        background-position: 100% 80%;
        background-size: cover;
        height: 600px;
        position: relative;

        .ticker-wrap {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            height: 4rem;
            background-color: rgba(0, 0, 0, 0.9);
            padding-left: 0%;
            box-sizing: content-box;

            .ticker {
                display: inline-block;
                height: 4rem;
                line-height: 4rem;
                white-space: nowrap;
                padding-right: 0;
                box-sizing: content-box;
                will-change: transform;
                animation: ticker 50s linear infinite;

                .ticker-item {
                    display: inline-block;
                    padding: 0 2rem;
                    font-size: 2rem;
                    color: white;
                    font-family: Roboto, sans-serif;
                }
            }
        }
    }
}

@keyframes ticker {
    0% {
        transform: translate(0, 0);
        visibility: visible;
    }

    100% {
        transform: translate(-100%, 0);
    }
}