.ant-pagination {
    justify-content: center !important;

    .ant-pagination-prev,
    .ant-pagination-next {
        button {
            background-color: var(--bg-color) !important;
            border-color: var(--bg-border) !important;
            color: var(--font-color) !important;
        }
    }

    .ant-pagination-item {
        background-color: var(--bg-color) !important;
        border-color: var(--bg-border) !important;

        a {
            color: var(--font-color) !important;
        }
    }

    .ant-pagination-item-active {
        background-color: var(--primary-color) !important;

        a {
            color: $white !important;
        }
    }
}