.ant-layout-has-sider {
    height: 100%;


    .ant-layout-sider {
        background-color: $black !important;
        color: $white;
        overflow: auto;
        height: 100vh;
        position: fixed; 
        left: 0;
        top: 0;
        bottom: 0;

        .logo {
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            background-color: $blackDark;

            img {
                width: 100%;
                max-width: 150px;
            }
        }

        ul.ant-menu {
            background-color: $black !important;

            li.ant-menu-submenu,
            li.ant-menu-item {
                // transition: all .3s ease-in-out; 
                border-left: 5px solid transparent;
                &:hover { 
                    background-color: $blackDark;
                } 
            }
        
            li.ant-menu-item-selected {
                background-color: $blackDark;
                border-color: $primary;

                svg {
                    color: $primary;
                }
            }
        }

        .ant-layout-sider-trigger {
            background-color: $blackDark;
        }
    }
}



.ant-layout-content {
    margin-top: 70px !important; 

}