.ant-tabs-tab {
    border-color: var(--bg-color) !important;
    background-color: var(--bg-color) !important;
    margin-right: 6px !important;

    span {
        color: var(--font-color) !important;
    }
} 

.ant-tabs-tab-active {
    background-color: var(--primary-color) !important;

    span {
        color: $white !important;
    }
}


.ant-tabs-top>.ant-tabs-nav::before {
    border: 0 !important;
}