.ant-table-container {
    border-color: var(--bg-border) !important;

    table {
        background-color: var(--bg-color);
        border-color: var(--bg-border) !important;

        .ant-table-thead th.ant-table-column-sort {
            background-color: var(--bg-body) !important;
        }
        td.ant-table-column-sort {
            background-color: var(--bg-color) !important;
        }

        tr.ant-table-row-selected > td {
            background-color: var(--bg-body) !important;
        }

        thead {
            tr {
                th {
                    background-color: var(--bg-body);
                    border-color: var(--bg-border) !important;
                    color: var(--font-color);
                }
            }
        }

        tr { 
            &:hover td {
                background-color: var(--bg-body) !important;
            }
            td {
                border-color: var(--bg-border) !important;
                color: var(--font-color);
            }
        }

        .ant-btn-icon-only {
            background-color: var(--bg-color);
            border-color: var(--bg-border) !important;
            color: var(--font-color);
        }
    }
}