.card-box {
    display: flex;
    flex-direction: column;
    padding: 16px;
    position: relative;
    background-color: var(--bg-color);
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
    margin-bottom: 8px;
    border: 0 solid var(--bg-color);
    border-radius: 4px;
    color: var(--font-color);

    .column-chart {
        width: 100% !important;

        canvas {
            width: 100% !important;
        }
    }

    .info {
        h2 {
            margin: 0;
            font-size: 30px;
            color: var(--font-color);
        }

        p {
            margin: 0;
            color: var(--font-color);
        }
    }

    .col-7 {
        flex: 0 0 60%;
        max-width: 60%;
        justify-content: space-between;
    }

    .col-3 {
        flex: 0 0 40%;
        max-width: 40%;
    }

    .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.dashbord-count {
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    flex-direction: row-reverse;

    p {
        font-size: 13px;
        color: $grey;
    }

    h2 {
        font-size: 20px;
        font-weight: 600;
    }

    svg {

        width: 30px;
        height: 30px;
    }

}

.user-info {
    padding: 0;
    height: 300px;

    .image {
        padding: 16px;
        height: 130px;
        background-color: rgba($primary, .3);
        position: relative;

        img {
            width: 220px;
            position: absolute;
            right: 0;
            top: 0;
            height: 130px;
            object-fit: contain;
        }
    }

    .info {
        padding: 16px;

        img {
            margin-top: -58px;
            outline: 5px solid $white;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            position: relative;
            // z-index: 3;
        }

        .ant-avatar {
            margin-top: -58px;
            outline: 5px solid $white;
        }

        .ant-btn.ant-btn-primary {
            height: 32px !important;
            font-size: 13px !important;
        }
    }
}

.ant-progress-text {
    color: var(--font-color) !important;
}

.progress-used-space {
    display: flex;
    align-items: center;
    line-height: 100%;

    .progress-label {
        width: 15px;
        height: 15px;
        background-color: var(--primary-color);
        display: flex;
        margin-right: 8px;
        border-radius: 4px;
    }


}

.latestTabs {
    .ant-tabs-tab {
        background-color: var(--bg-body) !important;
    }

    .ant-tabs-tab-active {
        background-color: var(--primary-color) !important;

        span {
            color: $white !important;
        }
    }
}