.edit-many-devices-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid var(--bg-body);
    background-color: var(--bg-body);

    span {
        color: var(--font-color);

    }

    button {
        background-color: var(--bg-color) !important;
    }
}

.list-device {
    overflow-y: scroll;
    height: 700px;

    .list-address {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background-color: $white;
        margin: 24px 0;
        transition: all .3s ease-in-out;
        box-shadow: 10px 10px 35px rgb(0 0 0 / 10%);
        cursor: pointer;
        padding: 10px;
        background-color: var(--bg-body);

        &:first-child {
            margin-top: 0;
        }

        h4 {
            font-weight: 700;
            font-size: 22px;
        }
    }
}