.login {
    height: 100vh;
    overflow: hidden;
    display: flex;

    .login-testimonials {
        width: 70vw;
        background-color: rgba($primary, .3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 32px;

        h2 {
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            font-weight: 700;

            svg {
                margin-right: 16px;
                color: $primary;
                font-size: 30px;
            }
        }

        .splide {
            width: 60%;
            margin: 0 auto;
            text-align: center;

            p {
                font-size: 16px;
            }

            p.company-name {
                color: var(--primary-color) !important;
                font-weight: 700;
                margin: 0;
            }

            p.user-name {
                margin-bottom: 42px;
            }

            .splide__pagination__page {
                background-color: $black;
            }

            .splide__pagination__page.is-active {
                background-color: $primary;
            }
        }
    }

    .login-form {
        width: 30vw;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 80px 32px 32px;

        .password-wrapper {
            position: relative;

            svg {
                position: absolute;
                top: 50%;
                right: 8px;
                transform: translate(-50%, 25%);
            }
        }


        h2 {
            color: var(--primary-color) !important;
            font-weight: 700;
            margin: 0 !important;
        }

        h3 {}

        .copyright {
            text-align: center;
        }

        .forgot-password {
            text-align: center;
            color: $black;
            display: block;
            transition: all .3s ease-in-out;

            &:hover {
                color: $primary;
            }
        }
    }


}