.playlist-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    padding: 16px;
    padding-right: 32px;

    .card-title {
        margin: 0 !important;

        .playlist-info {
            display: flex;
            align-items: center;

            p {
                margin: 0 !important;
                margin-top: 8px !important;
                margin-right: 16px !important;
                display: flex;
                align-items: center;

                &:last-child svg {
                    font-size: 18px;
                }

                svg {
                    font-size: 20px;
                    margin-right: 8px;
                }
            }

            .playlist-count {
                margin-right: 5px;
            }
        }
    }

    .icons {
        line-height: 1;
        display: flex;
        align-items: center;

        button {
            margin-left: 8px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                font-size: 22px;
                color: var(--font-color);
            }

            svg[data-icon="delete"],
            svg[data-icon="edit"] {
                font-size: 16px;
            }
        }
    }

    .ant-tabs-nav {
        margin: 0 !important;
    }
}

.save-btn-playlist {
    position: absolute;
    bottom: 0;
    background: var(--bg-color);
    width: 96%;
    padding: 16px;
}

.playlist-content {
    height: 594px;
    overflow: auto;
    padding: 0 16px 60px;


}

.playlist-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    border: 1px solid var(--bg-border);
    padding: 8px;
    background-color: var(--bg-color);

    .image {
        margin-right: 16px;
        position: relative;

        .image-type {
            position: absolute;
            top: 0;
            left: 0;
            width: 25px;
            height: 25px;
            background-color: var(--primary-color);
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            width: 100px;
            height: 100px;
        }
    }

    .info {
        flex: 1;

        p {
            display: flex;
            align-items: center;

            svg {
                font-size: 20px;
                margin-right: 8px;
            }
        }
    }

    .icons {
        display: flex;
        align-items: center;

        button {
            margin-left: 8px;
            display: flex;
        }

        label {
            // width: 70px;
            margin-right: 8px;

            input {
                width: 70px;
            }

            input.video-type {
                width: 85px;
            }
        }
    }
}


.playlist-tabs {

    .ant-tabs-tab {
        background-color: var(--bg-body) !important;
    }

    .ant-tabs-tab-active {
        background-color: var(--primary-color) !important;

        span {
            color: $white !important;
        }
    }

}

.media-wrapper {
    .ant-input-search {
        padding: 0 16px;
        padding-right: 32px;
    }

    .media-content {
        height: 550px;
        padding-bottom: 0;
    }
}